.Table {
  width: 100%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;

  tbody {
    tr {
      &:hover {
        background:#FAFAFA;
      }

      th {
        background:#FAFAFA;

        &.Table--no-background {
          background: transparent;
        }

        button {
          all: unset;
          cursor: pointer;
          height: 50px;
          width: 100%;
          line-height: 50px;
          font-weight: 400;
          font-size: 32px;
          @media (max-width: 525px) {
            font-size: 20px;
          }

          &::after {
            font-size: 10px;
            padding: 0 15px;
            position: absolute;
          }
          
          &.Table-header--active {
            background:rgba(0, 0, 0, .1);
          }
  
          &.Table-header--ascending::after {
            content: '▲';
          }
  
          &.Table-header--descending::after {
            content: '▼';
          }
        }
      }

      td {
        height: 50px;
        line-height: 50px;
        font-size: 24px;

        @media (max-width: 525px) {
          font-size: 16px;
        }

        a {
          color: #222;
        }
      }
    }
  }
}
